<form method="POST" action="/index">
  <p>Name: <input type="text" name="name"></p>
  <p>Age: <input type="number" name="age"></p>
  <p>Bio: <input type="text" name="bio"></p>
  <p><input type="submit" value="Submit"></p>
</form>
